.preloader {
    height: 100vh;
    width: 100%;
    background: #000;
    background-image: url('https://roboticsclubnitw.github.io/images/group_photo.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .texts-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    overflow: hidden;
    color: #FFF
}
.preloader .texts-container span{
    text-shadow: -1px 1px 1px #000, 
    1px 1px 0px #000, 
   1px -1px 0px #000, 
  -1px -1px 0px #000; 

}